@model Secure_Bank.Models.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Kayıt Ol";
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Yeni hesap oluştur </h3>
            </div>
            <div class="card-body">
                <form asp-action="Register" method="post">
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group mb-3">
                        <label asp-for="Username" class="form-label"></label>
                        <input asp-for="Username" class="form-control" placeholder="Kullanıcı adı giriniz" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="FullName" class="form-label"></label>
                        <input asp-for="FullName" class="form-control" placeholder="İsim soyisim  giriniz" />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control" placeholder="Email adresinizi giriniz" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" type="password" class="form-control" placeholder="Şifre giriniz" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="ConfirmPassword" class="form-label"></label>
                        <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Şifrenizi yeniden giriniz" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div class="d-grid">
                        <button type="submit" class="btn btn-success">Kayıt Ol</button>
                    </div>
                </form>

                <div class="text-center mt-3">
                    <p>Bir hesabınız va mı? <a asp-action="Login"> Burdan giriş yapınız</a></p>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
